.dashboard-container {
	max-width: 700px;
	margin: 0 auto;
	background-color: #2c3940;
	.dashboard-content {
		height: 100%;
		.user-sidenav {
			background-color: #000000;
			overflow-x: hidden;
			overflow-y: auto;
			.avatar-img {
				width: 100px;
			}
			.add-frind--btn {
				padding: 10px 20px;
				background-color: #a5d6a7;
				border: none;
				cursor: pointer;
				font-size: 18px;
				font-weight: 500;
				border-radius: 8px;
				min-width: 170px;
			}
			.user-list--btn {
				padding: 10px 20px;
				background-color: #a5d6a7;
				border: none;
				cursor: pointer;
				font-size: 18px;
				font-weight: 500;
				border-radius: 8px;
				min-width: 170px;
			}
		}
	}
}

.plus-icon {
	width: 16px;
	height: 16px;
}
