.welcome-conatiner {
	background-color: #2c3940;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 120px);
	.welcome-btn {
		padding: 20px 40px;
		color: #2c3940;
		font-size: 42px;
		border: none;
		border-radius: 50px;
		transition: 0.3s all ease-in-out;
		font-weight: 600;
		&:hover {
			background-color: #2c3940;
			border: 1px solid #ffffff;
			color: #ffffff;
		}
	}
}
