.modal {
	width: $full-width;
	height: $full-height;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(24, 25, 26, 0.98);
	z-index: 999;

	.modal-content {
		max-width: 600px;
		background-color: #ffffff;
		color: #000000;
		border-radius: 16px;
		margin: 50px auto;
		position: relative;
		padding: 20px;
	}

	.modal__body {
		.scroll-with--sticky-header {
			overflow-y: auto;
			&::-webkit-scrollbar {
				width: 0;
			}
		}
	}

	&.confirmation-model {
		.modal__body {
			max-height: 300px !important;
			box-sizing: content-box;
			@include padding(0 20px);
		}
	}
}

.modal-close-btn {
	width: 30px;
	height: 30px;
	background-color: transparent;
	position: absolute;
	right: 10px;
	top: 10px;
	svg {
		height: 16px;
		width: 16px;
	}
}
